.card {
    border:none;
}

.card-img {
    position: relative;
}

.card-body {
    position: absolute;
    bottom: 0;
    color: white;
    left: 0;
    display: none;
    background-color: black;
    width: 100%;
}

.card-img:hover {
    .card-body {
        display: block;
        background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%,  rgba(0,0,0,0) 100%);
        transition-delay: .1s;
    }
}

.card-info {
    padding: 2rem;
}

.character-name {
    color: white;
    &:hover {
        text-decoration: none;
        font-weight: bold;
        color:white;
    }
}