.App {
  text-align: center;
  background-color: #282c34;
  color:white;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.singel-character-card {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.loader-position {
  display: flex;
  justify-content: center;
}

.pb-32 {
  padding-bottom: 2rem;
}
